.special_nav{
    position: fixed; 
    z-index: 999;
}
.thebigfather{
    display: flex;
    position: absolute;
    top: 3.3em;
    
}
.special_nav{
    width: 16em;
 
}
.special_nav h3{
    background-color: rgb(241, 173, 0);
    
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 13px;
    border: 2px solid gray ;
    transition: 0.3s ease ;
    text-align: center;
    cursor: pointer;
    
}

.special_nav h3:hover{
    background-color: rgb(167, 105, 5);
    color: white;
}

.alwaysshow{
    background-color: rgb(241, 173, 0);
    height: 80em;
}
.alwaysshow img{
    margin-right: 6px;
    width: 2em;
    margin-top: 3px;
    cursor: pointer;
    transition: 0.3s ease ;

}
.alwaysshow img:hover{
    transform: scale(1.1);
}
.incondition{
    background-color: rgb(241, 173, 0);

}
.incondition li{
    margin-top: 10px;
    margin-left: 0;
}
.incondition li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    padding-right: 30px;
    
}
.incondition li a:hover{
    color: white;
}
.incondition{
    display: none;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.To_drop{
    position: absolute;
    left: 10em;
    top:2.18em;
    padding: 10px;
    background-color: rgb(173, 111, 3);
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none;
}
.To_drop{
    position:fixe ; 
    z-index: 999;
}
.To_drop:hover{
   background-color: rgb(220, 151, 3);
   color: white;
   
}




@-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  
.ForshowUp{
    display: block;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.exit{
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@media screen and (max-width:1400px){
  .special_nav{
    display: none;
}
}